= simple_form_for resource, as: resource_name, url: registration_path(resource_name, type: :password), validate: true, html: { method: :put, class: 'form-horizontal' } do |f|

  = f.input :current_password
  = f.input :password
  = f.input :password_confirmation

  .form-actions
    = f.button :submit, '保存设置', class: 'btn btn-success btn-large'