.row#settings
  .span9
    %section
      = render '/application/tabs/settings'

      = simple_form_for resource, as: resource_name, url: registration_path(resource_name), validate: true, html: { method: :put, class: 'form-horizontal' } do |f|
      
        - unless resource.has_no_password?
          = f.input :current_password, validate: { presence: true }
        = f.input :password, validate: { presence: true }
        = f.input :password_confirmation

        .form-actions
          = f.button :submit, '保存设置', class: 'btn btn-success btn-large'
  .span3
    .page-header
      %h1
        个人动态