.row#sign
  .span9
    %section
      .page-header
        %h1
          新用户注册
          %small 只需要轻松输入信息，便可以成为吞迷

      = simple_form_for resource, as: resource_name, url: registration_path(resource_name), validate: true, html: { class: 'form-horizontal', autocomplete: :off } do |f|
        = f.input :name
        = f.input :email, validate: { uniqueness: true }
        - if session[:omniauth]
          = f.input :skip_password, as: :hidden, input_html: { value: true }
        - else
          = f.input :password
          = f.input :password_confirmation

        .form-actions
          = f.button :submit, '提交帐户信息', class: 'btn btn-success btn-large'
  = render '/application/sidebars/auth'