- if @topic
  #wrap-topic.group
    .wrap-topic-inner
      %ul
        = sec_nav :home do
          = link_to '#' do
            专题首页
            %small Topic Home
        = sec_nav :articles do
          = link_to [@topic, :topic_articles] do
            专题攻略
            %small Topic Strategy
        %li
          = link_to '#' do
            资源下载
            %small Resources Download
        %li
          = link_to '#' do
            视频前瞻
            %small Video Seeking
        %li
          = link_to '#' do
            视觉盛宴
            %small Vision
