%li.topic
  .thumbnail
    = link_to topic_path(resource) do
      = image_tag resource.logo.url
    .caption
      %h3= link_to resource.title, topic_path(resource)
      %p.desc
        %i.l-dot
        = resource.description
        %i.r-dot
      %ul.state_bar.clearfix
        %li
          推荐指数：
          .raty{ data: { rate: resource.rating } }
        %li
          %span
            关注
            %strong= 10
          %span
            文章
            %strong= resource.posts_count
          %span
            视频
            %strong= resource.videos_count
          %span
            图片
            %strong= resource.photos_count
          %span.last
            资源
            %strong= resource.downloads_count