- content_for :topic_wrapper do
  .span9
    .top-inner
      .span4.sliders
        .images
          - 5.times do
            %img{ data: { src: 'holder.js/380x250' } }
        .slidetabs
          - 5.times do |i|
            = link_to (i + 1), '#'
      .span5
        %ul.nav.nav-tabs
          %li.active= link_to '最新更新', '#latest-posts', data: { toggle: 'tab' }
          %li= link_to '精华推荐', '#recommended-posts', data: { toggle: 'tab' }
        .tab-content
          #latest-posts.tab-pane.fade.in.active
            %ul.activity
              - 7.times do
                %li
                  %i.dot
                  = link_to '#' do
                    【碍事地方】
                    这个攻略很帮呀。。。哈哈哈
                    %span 【02-03】
          #recommended-posts.tab-pane.fade

= render 'context_main', topic: resource, posts: @posts


- content_for :js do
  :coffeescript
    $ ->
      $('.slidetabs').tabs('.images > img',
        effect: 'fade'
        fadeOutSpeed: 'slow'
        rotate: true
      ).slideshow({autoplay: true, interval: 3000, clickable: false})