.span3
  - if user_signed_in?
    .box
      %ul.media-list
        %li.media
          = link_to user_path(current_user), class: 'pull-left' do
            %img{:alt => "", "data-src" => "holder.js/80x80"}
          %h4.media-heading
            = current_user.name
          .media-body
            当前论坛积分： 1000
        %li.media
          %ul.nav.nav-pills
            %li.active= link_to "#{current_user.bbs_posts_count}<br/>话题".html_safe, '#'
            %li.active= link_to '10<br/>粉丝'.html_safe, '#'
            %li.active= link_to '9<br/>关注'.html_safe, '#'
        %li.media.notifications
          %p.muted 您有一篇文章被回复了
          %p.muted 您有一篇文章被回复了

  // BBS STATUS
  .box
    .page-header
      %h1 社区运行状态
    %table.table-striped
      %tbody
        %tr
          %td 注册会员
          %td 1200
        %tr
          %td 话题
          %td 398
        %tr
          %td 回复
          %td 1890


  // BBS LEADER BOARD
  .page-header
    %h1 社区活跃用户排行
  %ul.media-list
    - 5.times do
      %li.media
        = link_to '#', class: 'pull-left' do
          %img.img-polaroid{:alt => "", "data-src" => "holder.js/40x40"}
        %h4.media-heading
          西唯-Jerry
          = link_to t('views.bbs.follow_btn').html_safe, '#', class: 'btn btn-small btn-info follow'
        .media-body
          %p 用户积分100

  .page-header
    %h1 社区新帖