- content_for :jumbotron do
  .jumbotron.masthead.bbs


.row
  .span9
    %section#bbs-boards
      .board
        - collection.roots.each do |root|
          .page-header
            %h1
              %i.icon-list
              = root.name
              %small= root.description
          %ul.thumbnails
            - root.children.each do |child|
              %li
                .thumbnail
                  = link_to bbs_board_posts_path(child) do
                    %img{:alt => "", "data-src" => "holder.js/300x150"}
                  .caption
                    %h3= link_to child.name, bbs_board_posts_path(child)
                    %p.desc= child.description
                    %ul.state_bar.clearfix
                      %li
                        话题：
                        %span= child.bbs_posts_count
                        个
                      %li.divider-vertical
                      %li
                        精华：
                        %span= child.bbs_posts.recommend.count 
                        个
                      %li.divider-vertical
                      %li
                        回复：
                        %span= child.total_replies_count
                        个
                      %li= link_to t('views.layout.topic_detail').html_safe, bbs_board_posts_path(child)
  = render 'sidebar'