- content_for :jumbotron do
  .jumbotron.masthead.bbs

.row
  .span9
    %section#bbs-boards
      .board
        - collection.roots.each do |root|
          .page-header
            %h1
              %i.icon-list
              = root.name
              %small= root.description
          %ul.thumbnails.board-list
            - root.children.each do |child|
              %li
                .thumbnail
                  = link_to bbs_board_posts_path(child) do
                    %img{:alt => "", "data-src" => "holder.js/350x200"}
                  .cover
                    %h3 【#{child.name}】
                    %p.desc= child.description
                    %ul.state_bar.clearfix
                      %li
                        %span= child.posts_count
                        个话题
                      %li
                        %span= child.posts.recommend.count 
                        个精华
                      %li
                        %span= child.total_replies_count
                        个回复
                        
  = render 'sidebar'