#slider.nivoSlider.marketing
  = image_tag 'examples/01.jpg', title: 'asdfasdfasdf'
  = image_tag 'examples/01.jpg', title: 'asdfasdfasdf'
  = image_tag 'examples/01.jpg', title: 'asdfasdfasdf'
  = image_tag 'examples/01.jpg', title: 'asdfasdfasdf'
  = image_tag 'examples/01.jpg', title: 'asdfasdfasdf'