- content_for :jumbotron do
  .jumbotron.masthead.home
  = render 'social'

%section#home.row
  .span4.left
    %img.video-cover{ data: { src: 'holder.js/320x320' } }
    = link_to '#', class: 'head-title' do
      %span.left 吞食天地2nd
      %span.right 资料片
  .span4.middle
    .middle-inner
      .feature.top
        %h3.head-title
          平台动态
        %ul
          - 4.times do
            %li
              = link_to '#' do
                吞食天地2nd终于发布了...
                %span 2013-01-01
      .feature.bottom
        %h3.head-title
          论坛新帖
        %ul
          - 4.times do
            %li
              = link_to '#' do
                吞食天地2nd终于发布了...
                %span 2013-01-01
  .span4.right
    .wiki
      %h3 关于平台
      %ul.clearfix
        - 6.times do
          %li
            = link_to '#' do
              %i.dot
              应用接入流程
    .follow-us.clearfix
      = link_to '#', class: 'sina-weibo-follow-btn first' do
        关注微博
      = link_to '#', class: 'qq-weibo-follow-btn' do
        关注微博
%section#home-banner.row
  .span12
    %img{ data: { src: 'holder.js/1000x160' } }
%section#topics.row
  .span9
    .page-header
      %h1
        推荐专题
        %small 推荐专题的简介信息，大家都想一下方案如何写。
    %ul.thumbnails
      - @topics.each do |topic|
        = render '/topics/entry', resource: topic
  .span3= render '/application/sidebars/home'


- content_for :js do
  :coffeescript
    $ ->
      $('.raty').raty
        readOnly: true
        score: ->
          $(this).attr 'data-rate'
