- content_for :topic_wrapper do
  .span9
    %ul.nav.nav-tabs
      %li.active= link_to '按更新时间', '#'
      %li= link_to '按热门程度', '#'
    %ul.thumbnails.infinite-feed
      - collection.each do |resource|
        %li.span3.photo-wrapper
          .thumbnail
            = link_to resource.data.url, rel: 'gallary' do
              - if Rails.env.production?
                = image_tag resource.data.gallary.url
              - else
                %img{ data: { src: "holder.js/225x#{(200..300).to_a.sample}" } }
            .caption
              %p asdfasdf
              .meta.clearfix
                %p.time 3小时前添加
                .counter
                  %span.views-num
                    %i.ico{ title: '浏览次数' }
                    %strong 3
                  %span.likes-num
                    %i.ico{ title: '喜欢次数' }
                    %strong 6
    #page-nav
      = link_to 'next', topic_topic_photos_path(page: 2)


= render '/topics/context_main', topic: parent, posts: @posts