%ul.tabs
  %li.active= link_to '全部文章', '#'
  - @categories.each do |category|
    %li= link_to category[0], '#'

%ul.topic_articles
  - collection.each do |resource|
    %li.group
      = link_to [parent, resource] do
        %span.category [#{resource.category_name}]
        = resource.title
        %span.time= resource.created_at.to_date
