- content_for :jumbotron do
  .jumbotron.masthead.home

.row
  .span9
    %section#bbs-boards
      %ul.breadcrumb
        %li
          = link_to '社区', bbs_root_path
          %span.divider /
        %li
          = link_to parent.parent.name, bbs_root_path
          %span.divider /
        %li.active
          = parent.name
        %li.last
          %span.badge.badge-inverse
            #{parent.bbs_posts_count}篇帖子

      %ul.media-list
        - collection.each do |post|
          - path = bbs_board_post_path(parent, post)
          %li.media.topic
            = link_to path, class: 'pull-left' do
              %img.media-object{ data: { src: 'holder.js/48x48' } }
            .media-body
              %h4.media-heading
                = link_to post.title.truncate(30), path
              %ul.state-bar.clearfix
                %li= link_to t('views.layout.comments', count: post.replies_count).html_safe, '#'
                %li= link_to t('views.layout.likes', count: 30).html_safe, '#'

              %p.meta.muted
                = link_to post.user_name, user_path(post.user)
                = t('views.bbs.post_created_ago', ago: time_ago_in_words(post.created_at))
                - if post.last_replied_by
                  %span.divider-vertical
                  = t('views.bbs.last_replied_by',  url: user_path(post.last_replied_by),
                                                    name: post.last_replied_by.name,
                                                    ago: time_ago_in_words(post.last_replied_at)).html_safe


  .span3
    = link_to '发布新话题', new_bbs_board_post_path(parent), class: 'add-post-btn', id: 'add-new-post'

    - if user_signed_in?
      .box
        %ul.media-list
          %li.media
            = link_to '#', class: 'pull-left' do
              %img{:alt => "", "data-src" => "holder.js/80x80"}
            %h4.media-heading
              = current_user.name
            .media-body
              当前论坛积分： 1000
          %li.media
            %ul.nav.nav-pills
              %li.active= link_to '100<br/>话题'.html_safe, '#'
              %li.active= link_to '10<br/>粉丝'.html_safe, '#'
              %li.active= link_to '9<br/>关注'.html_safe, '#'
          %li.media.notifications
            %p.muted 您有一篇文章被回复了
            %p.muted 您有一篇文章被回复了