- content_for :jumbotron do
  .jumbotron.masthead.home
    .container
      %p
        在论坛您可以和玩家进行交流，晒自己的极品装备
        = link_to '马上成为吞迷', new_user_registration_path, class: 'btn btn-primary'

.row#new-posts
  .span9
    %section#bbs-boards
      %ul.breadcrumb
        %li
          = link_to '社区', bbs_root_path
          %span.divider /
        %li
          = link_to parent.parent.name, bbs_root_path
          %span.divider /
        %li
          = link_to parent.name, bbs_board_path(parent)
          %span.divider /
        %li
          发布新话题

      = simple_form_for resource, url: collection_path, validate: true, html: { class: 'form-horizontal' } do | f|
        = f.input :title, input_html: { class: 'span8' }
        = f.input :content, as: :kindeditor, input_html: { simple_mode: true }
        .form-actions
          = f.button :submit, '保存并发布', class: 'btn btn-success btn-large'
          = link_to '取消', bbs_board_path(parent), class: 'btn btn-large'
  .span3
    .box
      - if user_signed_in?
        %ul.media-list
          %li.media
            = link_to '#', class: 'pull-left' do
              %img{:alt => "", "data-src" => "holder.js/80x80"}
            %h4.media-heading
              = current_user.name
            .media-body
              当前论坛积分： 1000
          %li.media
            %ul.nav.nav-pills
              %li.active= link_to '100<br/>话题'.html_safe, '#'
              %li.active= link_to '10<br/>粉丝'.html_safe, '#'
              %li.active= link_to '9<br/>关注'.html_safe, '#'
          %li.media.notifications
            %p.muted 您有一篇文章被回复了
            %p.muted 您有一篇文章被回复了