.row#bbs-post
  .span9
    %section#post-detail
      %ul.breadcrumb
        %li
          = link_to '社区', bbs_root_path
          %span.divider /
        %li
          = link_to resource.board.parent.name, bbs_root_path
          %span.divider /
        %li
          = link_to resource.board.name, bbs_board_posts_path(resource.board)
          %span.divider /
        %li.active
          浏览帖子
      .page-header.post-header.clearfix
        %img{ alt: '', data: { src: 'holder.js/48x48' } }
        %h1= resource.title
        %p.meta.muted
          = link_to t('views.bbs.board', name: resource.board_name).html_safe, collection_path
          %span.divider-vertical
          = link_to resource.user_name, user_path(resource.user)
          = t('views.bbs.post_created_ago', ago: time_ago_in_words(resource.created_at))
          %span.divider-vertical
          - if resource.last_replied_by
            = t('views.bbs.last_replied_by',  url: user_path(resource.last_replied_by),
                                              name: resource.last_replied_by.name,
                                              ago: time_ago_in_words(resource.last_replied_at)).html_safe
            %span.divider-vertical
          300次浏览
      .post-body
        %p= raw resource.content

    = render 'comments'
  = render 'sidebar'