= semantic_form_for [:admin, @bbs_board] do |f|
  = f.inputs '板块基本信息' do
    = f.input :ancestry, as: :select, collection: BbsBoard.roots, prompt: true,
              input_html: { disabled: (!@bbs_board.new_record? && @bbs_board.is_root?) ? true : false }, hint: '主板块无须修改此项。'
    = f.input :name
    = f.input :logo, as: :string
    %li
      %label &nbsp;
      #file-uploader-logo
      .preview
        - unless @bbs_board.new_record?
          = image_tag(@bbs_board.logo, size: '203x82')
      .qq-upload-extra-drop-area 图片丢到这里

    = f.input :description, as: :text, input_html: { rows: 5 }

  = f.submit

:javascript
  function createUploader(){
      var uploader = new qq.FileUploader({
          element: $('#file-uploader-logo')[0],
          action: '/valums/create.json',
          params: { photogenic_type: 'BbsBoard' },
          extraDropzones: [qq.getByClass(document, 'qq-upload-extra-drop-area')[0]],
          onComplete: function(id, fileName, responseJSON){
            var attachmentSrc = responseJSON.src;
            $('#file-uploader-logo').next().html('<img src="'+attachmentSrc+'" height=82 width=203></img>');

            $('#bbs_board_logo').val(attachmentSrc);
          }
      });
  }
  
  // in your app create uploader as soon as the DOM is ready
  // don't wait for the window to load
  window.onload = createUploader; 