- content_for :sidebar do
  = render '/application/sidebars/registration'
  
.full
  %h1
    注册成为吞迷
  %p 吞迷是吞迷是吞迷是吞迷是吞迷是吞迷是吞迷是吞迷是吞迷是吞迷是吞迷是吞迷是吞迷是吞迷是。

.signup-form
  = simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'gen-form with-messages signup' } do |f|
    %h2.section 吞迷登录
    = f.input :email, input_html: { class: 'form-text' }, autofocus: true
    = f.input :password, input_html: { class: 'form-text' }
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?

    .form-btns
      = f.button :submit, '登录', class: 'form-sub'