
%h3 使用第三方帐号登录
.sign-prompt
  = link_to '使用微博帐号登录', '#', class: 'auth-weibo auth-top gray'
  = link_to '使用腾讯帐号登录', '#', class: 'auth-weibo auth-top gray'

%h3 作为一个吞迷，你可以玩转。。。

%ol.gridsies.gridsies-halfsies.group
  %li
    = image_tag 'about-find.png', alt: 'About-find', class: 'fig'
    / %h3 查找和关注
    %p 查找感兴趣的游戏专题，方便日后得到游戏的更新提醒
  %li
    = image_tag 'about-like.png', alt: 'About-like', class: 'fig'
    / %h3 收藏
    %p 收藏一些好的文章、攻略、视频和图片等资源。
  %li
    = image_tag 'about-bucket.png', alt: 'About-bucket', class: 'fig'
    / %h3 发表心得
    %p 与玩家共享吞食的乐趣，挖掘好玩的场景。
  %li
    = image_tag 'about-prospect.png', alt: 'About-prospect', class: 'fig'
    / %h3 与玩家互动
    %p 我们提供一个与玩家沟通与互动的平台。