%footer.footer
  .container
    %p
      晴天之秀团队运维
      = link_to '@西唯-Jerry', '#'
    %p Copyright © 2013 吞食天地大同盟 twkunion.com  
    %p 备案号: 沪ICP备XXXX
    %ul.footer-links
      %li= link_to '关于我们', '#'
      %li.muted ·
      %li= link_to '联系我们', '#'
      %li.muted ·
      %li= link_to '团队博客', '#'
      %li.muted .
      %li= link_to '网站地图', '#'