/ Navbar \==================================================
.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = button_tag class: 'btn btn-navbar', data: { target: '.nav-collapse', toggle: 'collapse' } do
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'brand' do
        = image_tag('twkunion-tm.png')
      .nav-collapse.collapse
        %ul.nav
          = main_nav :home do
            = link_to '首页', root_path
          %li= link_to '应用', '#'
          %li= link_to '专题', '#'
          %li= link_to '下载', '#'
          = main_nav :bbs do
            = link_to '社区', bbs_root_path

        = form_tag '/', class: 'navbar-search pull-left form-search' do
          .input-append
            = text_field_tag :q, nil, class: 'span2 search-query', placeholder: '请输入关键字...'
            = button_tag '搜索', class: 'btn btn-inverse'

        %ul.nav.pull-right
          - if user_signed_in?
            = main_nav :settings, { class: 'dropdown' } do
              = link_to '#', class: 'dropdown-toggle image', data: { toggle: 'dropdown' } do
                %img{:alt => "", "data-src" => "holder.js/30x30"}
                = current_user.name
                %b.caret
              %ul.dropdown-menu
                %li= link_to '我的吞食天地', user_path(uid: current_user.uid)
                %li= link_to '个人资料', settings_path(type: :profile)
                %li= link_to '消息设置', settings_path(type: :notifications)
                %li= link_to '修改密码', edit_user_registration_path
                %li.divider
                %li= link_to '第三方账户绑定', authentications_path
                %li= link_to '邀请好友', '#'
                %li.divider
                %li= link_to '回馈', new_feedback_path, rel: 'feedback', data: { :'fancybox-type' => 'ajax' }
                %li= link_to '登出', destroy_user_session_path, method: :delete
          - else
            %li= link_to t('views.layout.sign_up').html_safe, new_user_registration_path, class: 'signup'
            %li= link_to '登录', new_user_session_path