!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Twkunion
    %meta(content='text/html; charset=utf-8' http-equiv='content-type')
    %meta(content='width=device-width, initial-scale=1.0, minimum-scale=1.0' name='viewport')

    = stylesheet_link_tag :application, media: 'all'
    = javascript_include_tag :application

    = csrf_meta_tag

  %body#signup
    = render 'header'
    //header
    %hr/
    = render 'messages'
    #wrap
      = render '/topics/context_header', topic: @topic
      #wrap-inner{ class: @main_nav == :topics ? 'topic' : nil }
        #content.group

          = yield :full

          #main{ class: @main_full.blank? ? '' : 'main-full' }
            = yield
          
          #secondary= yield :sidebar

          = yield :extra
        //content
    //wrap
    %hr/
    = render 'footer'

    = yield :javascript