!!!
%html{ lang: 'zh',  :"xmlns:wb" => 'http://open.weibo.com/wb' }
  %head
    %title 吞食天地大同盟
    %meta{ charset: 'utf-8' }
    <meta property="wb:webmaster" content="36188b653e22a3c9" />
    <meta property="qc:admins" content="44172176776473561766375" />
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    = stylesheet_link_tag :application, media: :all

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    = yield :head

  %body{ :"data-spy" => 'scroll', :"data-target" => '.bs-docs-sidebar' }

    = render 'header'
    = yield :jumbotron

    .container
      = yield

    = render 'footer'

    = javascript_include_tag :application
    = yield :js