!!!
/[if lt IE 7 ] <html lang="zh-CN" class="no-js ie6">
/[if IE 7 ] <html lang="zh-CN" class="no-js ie7">
/[if IE 8 ] <html lang="zh-CN" class="no-js ie8">
/[if IE 9 ] <html lang="zh-CN" class="no-js ie9">
/ [if (gt IE 9)|!(IE)]><!
%html.no-js{:lang => "zh-CN"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title 吞食天地大联盟 BBS
    /[if IE] <meta http-equiv="Content-language" content="zh-CN" />
    %meta{ content: 'twkunion bbs', name: 'description' }/

    = stylesheet_link_tag :bbs, media: 'all'

    /[if lt IE 9]
      = stylesheet_link_tag 'bbs/ie'

    :javascript
      var Global = {
        action: 'index',
        mainpart: ''
      }
  %body
    #global-padding
      #header
        #aurora
        / #aurora
      / #header
      #nav
        #header-bg
        %ul
          %li
            = link_to '登录', '#'
            %span
          %li
            = link_to '注册', '#'
            %span
      / #nav
      #subnav
        #breadcrumbs= link_to '吞食天地大联盟', '#'
        = render 'bbs_search'
      / #subnav
      #main
        #global-wrap.clearfloat
          = yield
          / clearing float
          %div{:style => "clear: both"}
        / #global-wrap
      / #main
      #footer-padding
        / moe~ moe~
    / #global-padding
    #footer
      #footer-btn
        %a.footer-btn.fb_1{:href => "./"} Tora酱首页
        %a.footer-btn.fb_2{:href => "http://feedback.ra.gg/"} 吐槽板
        %a.footer-btn.fb_3{:href => "baka.tora"} 脑残列表
        %a.footer-btn.fb_4{:href => "http://blog.ra.gg/"} 萌日志
        %p DreaM Information and Technology CO.,LTD. © All rights Reserved.
      #footer-content
        %a{:href => "./#"} 关于我们
        %a{:href => "http://030buy.com/about/recurit_030.html", :target => "_blank"} 人才招募计划
        %a{:href => "./#"} 网站地图
        %a{:href => "./#"} 使用协议
    / #footer

    = javascript_include_tag :bbs